@import "tailwindcss";

/* Estilo base oscuro jungle-luxury */
:root {
  color-scheme: dark;
}

html,
body {
  min-height: 100%;
}

body {
  @apply bg-black text-white antialiased;
}

* {
  scroll-behavior: smooth;
}
